table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

thead th {
  background-color: #f2f2f2;
  font-weight: bold;
}

td:nth-child(1), td:nth-child(2), td:nth-child(3) {
  width: 10rem;
}

td:last-child {
  /* width: 70%; */
  background-color: transparent;
}