table {
  width: 100%;
  table-layout: fixed;
}

thead > tr,
tbody > tr {
  display: block;
}

thead {
  overflow: hidden;
}

tbody {
  overflow-y: auto;
}

tbody td,
thead th {
  width: calc(100% / var(--n)); 
}

table {
  --n: 4; 
}